In [75]:
import pandas as pd
import numpy as np

sample_data=pd.read_csv("C:/Users/JUD_PMMD/OneDrive/Documents/Moringa/Data Analysis/Data/sample_data.csv")

In [76]:
col_names = ["empty","T-Day","T-Month","T-Year", "Code", "No", "R-Day","R-Month","R-Year",
         "Origin Court", "Origin Code", "Origin No", "Origin Year", "Specific Case Type",
         "Judge 1", "Judge 2", "Judge 3", "Judge 4", "Judge 5", "Judge 6", "Judge 7", 
         "Case coming for", "Case OutCome", "Reason of adjournment", "N-Day","N-Month",
         "N-Year","P-M", "P-F","P-Org.", "D-M", "D-F", "D-Org.", "Legal Rep", "Witness-P", "Witness-D",
         "Crim-Custody","Other Details"]
len(col_names)

38

In [77]:
sample_data = pd.read_excel("Data/Sample Data.xlsx", names = col_names)
sample_data.head(6)

,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,NaN,Court station name: \n(Entry required.),NaN,NaN,A. N. Other,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
2,NaN,\nToday's date\n\n\n\n\n\n,NaN,NaN,\nCase Number and date of Registration)\n\n,NaN,NaN,NaN,NaN,\n*Appeal cases only: ...,...,NaN,NaN,\nNo. of defendants/accused\n\n\n\n\n,NaN,NaN,\nDo any of the parties have legal representat...,\nNo. of witnesses testified in court today\n\n\n,NaN,"\nCriminal cases only: \nOf the accused, how m...",\nOther important details of the case
3,NaN,Day,Month,Year,Code,No.,Day,Month,Year,Name of Court,...,F,Org.,M,F,Org.,(Y/N),P \n(Enter No.),D\n(Enter No.),(Enter No.),(Free text)
4,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
5,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN

In [78]:
# dropping head rows
sample_data.drop(index=[0,1,2,3], inplace=True)

In [79]:
sample_data.head()

,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
4,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
5,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
6,NaN,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
7,NaN,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
8,NaN,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN

In [80]:
sample_data.reset_index(drop=True, inplace=True)
sample_data.columns

Index(['empty', 'T-Day', 'T-Month', 'T-Year', 'Code', 'No', 'R-Day', 'R-Month',
       'R-Year', 'Origin Court', 'Origin Code', 'Origin No', 'Origin Year',
       'Specific Case Type', 'Judge 1', 'Judge 2', 'Judge 3', 'Judge 4',
       'Judge 5', 'Judge 6', 'Judge 7', 'Case coming for', 'Case OutCome',
       'Reason of adjournment', 'N-Day', 'N-Month', 'N-Year', 'P-M', 'P-F',
       'P-Org.', 'D-M', 'D-F', 'D-Org.', 'Legal Rep', 'Witness-P', 'Witness-D',
       'Crim-Custody', 'Other Details'],
      dtype='object')

In [81]:
sample_data.dtypes

empty                    float64
T-Day                     object
T-Month                   object
T-Year                    object
Code                      object
No                        object
R-Day                     object
R-Month                   object
R-Year                    object
Origin Court              object
Origin Code               object
Origin No                 object
Origin Year               object
Specific Case Type        object
Judge 1                   object
Judge 2                   object
Judge 3                   object
Judge 4                   object
Judge 5                   object
Judge 6                   object
Judge 7                   object
Case coming for           object
Case OutCome              object
Reason of adjournment     object
N-Day                     object
N-Month                   object
N-Year                    object
P-M                       object
P-F                       object
P-Org.                    object
D-M                       object
D-F                       object
D-Org.                    object
Legal Rep                 object
Witness-P                 object
Witness-D                 object
Crim-Custody              object
Other Details             object
dtype: object

In [82]:
# Create the column Today's Date
sample_data["Today's Date"] = sample_data["T-Day"].astype(str) + "-"+  sample_data["T-Month"] + "-" +sample_data["T-Year"].astype(str)
sample_data.head()

,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,Origin Court,...,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details,Today's Date
0,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,NaN,...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,3-Apr-2023
1,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,NaN,...,1,1,NaN,NaN,No,NaN,1,0,NaN,3-Apr-2023
2,NaN,3,Apr,2023,QRCR,E649,3,Apr,2023,NaN,...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,3-Apr-2023
3,NaN,3,Apr,2023,QRCR,E638,3,Apr,2023,NaN,...,1,1,NaN,NaN,No,NaN,NaN,1,NaN,3-Apr-2023
4,NaN,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,NaN,...,1,NaN,2,NaN,No,NaN,NaN,2,NaN,3-Apr-2023

In [83]:
sample_data["Today's Date"] = pd.to_datetime(sample_data["Today's Date"], format="%d-%b-%Y")

In [84]:
sample_data.dtypes

empty                           float64
T-Day                            object
T-Month                          object
T-Year                           object
Code                             object
No                               object
R-Day                            object
R-Month                          object
R-Year                           object
Origin Court                     object
Origin Code                      object
Origin No                        object
Origin Year                      object
Specific Case Type               object
Judge 1                          object
Judge 2                          object
Judge 3                          object
Judge 4                          object
Judge 5                          object
Judge 6                          object
Judge 7                          object
Case coming for                  object
Case OutCome                     object
Reason of adjournment            object
N-Day                            object
N-Month                          object
N-Year                           object
P-M                              object
P-F                              object
P-Org.                           object
D-M                              object
D-F                              object
D-Org.                           object
Legal Rep                        object
Witness-P                        object
Witness-D                        object
Crim-Custody                     object
Other Details                    object
Today's Date             datetime64[ns]
dtype: object

In [85]:
# Move the new column to the first column
sample_data.insert(0, "Today's Date", sample_data.pop("Today's Date"))

In [86]:
sample_data.head()

,Today's Date,empty,T-Day,T-Month,T-Year,Code,No,R-Day,R-Month,R-Year,...,P-F,P-Org.,D-M,D-F,D-Org.,Legal Rep,Witness-P,Witness-D,Crim-Custody,Other Details
0,2023-04-03,NaN,3,Apr,2023,QRCR,E642,3,Apr,2023,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
1,2023-04-03,NaN,3,Apr,2023,QRCR,E1411,31,Oct,2022,...,NaN,1,1,NaN,NaN,No,NaN,1,0,NaN
2,2023-04-03,NaN,3,Apr,2023,QRCR,E649,3,Apr,2023,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
3,2023-04-03,NaN,3,Apr,2023,QRCR,E638,3,Apr,2023,...,NaN,1,1,NaN,NaN,No,NaN,NaN,1,NaN
4,2023-04-03,NaN,3,Apr,2023,QRCRMISC,E109,3,Apr,2023,...,NaN,1,NaN,2,NaN,No,NaN,NaN,2,NaN